.DS_Store
/preen/__pycache__
/tests/__pycache__
/preen/templates/__pycache__
/preen/checks/__pycache__
/preen.egg-info
/preen/commands/__pycache__
docs/_build/
/preen/commands/__pycache__
/preen/commands/__pycache__
/preen/commands/__pycache__
